# notebooks
notebooks/k-epsilon_Kato-Phillips/
notebooks/logbook.ipynb
notebooks/fit_wagner.ipynb

# heavy data
*.nc
*.jld2
*.npz

# general
__pycache__/
**.DS_Store
dist/

# doc build
docs/_build/

# pytest
.pytest_cache